
.oda-chat-action-postback {
    /* stylelint-disable declaration-no-important */
    margin-right: 3px !important;
    white-space: nowrap !important;
    border-radius: 20px !important;
    padding: 15px !important;
    /* stylelint-enable declaration-no-important */
}

.oda-chat-message-global-actions {
    /* stylelint-disable declaration-no-important */
    flex-direction: row !important;
    flex-wrap: wrap !important;
    /* stylelint-enable declaration-no-important */
}

.oda-chat-card-actions-pill {
    /* stylelint-disable declaration-no-important */
    flex-direction: row !important;
    flex-wrap: wrap !important;
    /* stylelint-enable declaration-no-important */
}

.oda-chat-wrapper {
    /* stylelint-disable declaration-no-important */
    z-index: 900 !important;
    /* stylelint-enable declaration-no-important */
}

.oda-chat-collapsed {
    /* stylelint-disable declaration-no-important */
    z-index: 700 !important;
    /* stylelint-enable declaration-no-important */
}

.oda-chat-card:first-of-type {
    /* stylelint-disable declaration-no-important */
    padding-top: 34px !important;
    /* stylelint-enable declaration-no-important */
}

.oda-chat-wrapper .oda-chat-messages-wrapper .oda-chat-message-list .oda-chat-message a {
    /* stylelint-disable declaration-no-important */
    text-decoration: none;
    /* stylelint-enable declaration-no-important */
}

.oda-dialog-text-area__content {
    max-width: 100%;
    font-size: 1.2rem;
}

.oda-dialog__hint {
    font-size: 1rem;
    font-style: italic;
}

@mixin word-wrap {
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@mixin drag-indicator($color) {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9JzAgMCA2IDQnPjxnIGZpbGw9JyMwMDAnPjxjaXJjbGUgY3g9JzEnIGN5PScyJyByPScxJy8+PGNpcmNsZSBjeD0nNScgY3k9JzInIHI9JzEnLz48L2c+PC9zdmc+");
}

@mixin txt-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

// TODO: Remove after drop of IE11 support
@mixin ie11-only {
    @media all and (-ms-high-contrast: none) {
        @content;
    }
}

@mixin register-color($color, $name) {
    // str-slice and inspect to remove deg suffix as it's not supported in hsl() in Edge browser based on EdgeHTML engine
    $hue: str-slice(inspect(hue($color)), 1, -4);
    $saturation: saturation($color);
    $lightness: lightness($color);

    --color-#{$name}-hue: #{$hue};
    --color-#{$name}-saturation: #{$saturation};
    --color-#{$name}-lightness: #{$lightness};
    --color-#{$name}: hsl(
        var(--color-#{$name}-hue),
        var(--color-#{$name}-saturation),
        var(--color-#{$name}-lightness)
    );
}
