.iframe-container {
  width: 100%; /* Adjust as needed */
  height: 800px; /* Adjust as needed */
  border: 12px solid hsl(20deg 89.64% 49.22% / 69%);
  border-radius: 12px;
  overflow: scroll; /* Ensure iframe scales within the container */
}

iframe {
  width: 100%; /* Take up 100% of its container's width */
  height: 100%; /* Take up 100% of its container's height */
  border: none;
  background-color: #f5f5f5;
  transform-origin: center center
}
