.upload-container {

  border: 4px solid #779a9f;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,.21);
    left: 15%;
    padding: 20px;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 70%;
    height: 35%;
    top: 12%;

  /* border: 4px solid #779a9f;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0,0,0,.21);
  padding: 20px;
  position: absolute;
  transition: all .3s ease-in-out;
  left: 35%;
  width: 119%; */
/*   
  padding: 20px;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  box-shadow: rgb(0 0 0 / 21%) 0px 5px 15px; */
}

.upload-container:hover {
  transform: scale(1.05);
}

.upload-container input[type="file"] {
  display: block;
  margin-bottom: 10px;
}

.upload-container button {

  background-color: #0077be;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    top: 191%;
    padding: 10px 20px;
    position: absolute;
    left: -3%;


  /* background-color: #0077be;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer; */
}



.upload-container button:hover {
  background-color: #005fa3;
}

.upload-container button:disabled {
  background-color: #ccc;
  /* Change the background color for disabled state to grey */
  cursor: not-allowed;
  /* Change the cursor to indicate the button is disabled */
}

.upload-container .progress {
  background-color: #eee;
  height: 20px;
  border-radius: 4px;
  overflow: hidden;
}

.upload-container .progress-bar {
  background-color: #0077be;
  height: 100%;
  transition: width 0.3s ease-in-out;
}

.upload-container .error {
  color: red;
  font-weight: bold;
}

.fileupload h1 {
  color: hsl(18.4deg 91.84% 51.96%);
  text-align: center;
}

.showdocdivs {
  height: 90%;
  left: 2%;
  padding: 11px;
  position: absolute;
  top: 7%;
  width: 95%;
}

div#pdf-main-container {


  height: 94%;
  left: 2%;
  padding: 11px;
  position: absolute;
  top: 7%;
  width: 82%;

  /* 
  height: 94%;
    left: 2%;
    padding: 11px;
    position: absolute;
    top: 5%;
    width: 75%; */

  /* height: 90%;
    left: 4%;
    padding: 11px;
    position: absolute;
    top: 263px;
    width: 75%; */

  /* padding: 11px;
  top: 263px;
  position: absolute;
  width: 80%;
  left: 10%;
  height: 90%; */


  /* padding: 11px; */
  /* min-height: 500px; */
}

.afterupload {
  padding: 22px;
 width: 100%;
}

.terms.col-sm-3 {

  word-wrap: break-word;
  background: #389944;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 50px;
  max-height: 600px;
  min-height: 540px;
  overflow-y: auto;
  text-align: center;
  width: 15%;
  position: absolute;
  left: 84%;
  top: 11%;

  
}



.h1 {
  font-size: 16px;
}

.pdfcontainerinside{
  width: 100%;
  height: 100%;
}