<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document Viewer</title>
    <style>
        .highlight {
            background-color: yellow;
            font-weight: bold;
        }
    </style>
</head>
<body>
    <h1>Document Viewer</h1>
    <h2>{{ document.uploaded_file_name }}</h2>
    <p>{{ document.file_type }}</p>
    <p>{{ document.file_size_kb }} KB / {{ document.file_size_mb }} MB</p>
    <p>Uploaded: {{ document.uploaded_date }}</p>
    <hr>
    <div>
        {% if query %}
            <p>Query: {{ query }}</p>
            <hr>
            {% autoescape off %}
                {{ highlighted_content }}
            {% endautoescape %}
        {% else %}
            {% autoescape off %}
                {{ document.content }}
            {% endautoescape %}
        {% endif %}
    </div>
</body>
</html>
